*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd,
input, button {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
}

ul, ol {
  list-style: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

button {
  border: none;
  background-color: inherit;
}

@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
:root {
  font-family: Rubik, sans-serif;
}

body {
  justify-content: center;
  align-items: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.bg-primary {
  background-color: #0E1323;
}

.bg-secondary {
  background-color: #1C204B;
}

.bg-highlight {
  background-color: #5747EA;
}

.clr-primary, .clr-active, .timeframe__option:hover, .timeframe__select:checked + .timeframe__option {
  color: #FFFFFF;
}

.clr-secondary {
  color: #BBC0FF;
}

.clr-inactive {
  color: #7078C9;
}

.fnt-light {
  font-weight: 300;
}

.fnt-medium {
  font-weight: 500;
}

.user-menu, .card, .card-content, .user-info {
  border-radius: 15px;
}

.user-menu {
  grid-row: span 2;
}

.user-profile__photo {
  border-radius: 50%;
  border: 3px solid #D8D8D8;
}

.user-info-wrapper {
  --flow-space: 3px;
}

.user-info__title {
  font-size: 15px;
}

.user-info__name {
  font-size: 40px;
}

.timeframe__select {
  display: none;
}

.timeframe__option {
  font-size: 18px;
}

.card {
  background-position: top -11px right 17px;
  background-repeat: no-repeat;
  padding-top: 45px;
}

.card-1 {
  background-color: #FF8B64;
  background-image: url("../images/icon-work.svg");
}

.card-2 {
  background-position: top -5px right 21px;
  background-color: #55C2E6;
  background-image: url("../images/icon-play.svg");
}

.card-3 {
  background-color: #FF5E7D;
  background-image: url("../images/icon-study.svg");
}

.card-4 {
  background-position: top right 18px;
  background-color: #4BCF82;
  background-image: url("../images/icon-exercise.svg");
}

.card-5 {
  background-position: top -13px right 19px;
  background-color: #7335D2;
  background-image: url("../images/icon-social.svg");
}

.card-6 {
  background-position: top -11px right 16px;
  background-color: #F1C75B;
  background-image: url("../images/icon-self-care.svg");
}

.card-content {
  flex-direction: column;
  gap: 25px;
  padding: 29px 35px 32px 30px;
}

.card-category-wrapper {
  justify-content: space-between;
  align-items: center;
}

.card-category__name {
  font-size: 18px;
}

.card-info__current {
  font-size: 56px;
}

.card-info__previous {
  font-size: 15px;
}

.transition, .timeframe__option:hover,
.card-category__ellipsis:hover,
.card-content:hover {
  transition: all 0.2s ease-in-out;
}

.timeframe__option:hover,
.card-category__ellipsis:hover,
.card-content:hover {
  cursor: pointer;
}

.card-category__ellipsis:hover svg path {
  fill: #FFFFFF;
}

.card-content:hover {
  background-color: #33397A;
}

@media only screen and (width >= 1440px) {
  main {
    max-width: 1110px;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
  }
  .user-info {
    padding: 37px 0 85px 32px;
    flex-direction: column;
    gap: 43px;
  }
  .user-profile__photo {
    width: 78px;
    height: 78px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .timeframe {
    padding: 26px 0 0 32px;
    flex-direction: column;
    gap: 21px;
  }
  .card-info-wrapper {
    flex-direction: column;
    gap: 8px;
  }
}
@media only screen and (width < 1440px) {
  main {
    margin: 81px 24px;
    gap: 24px;
    grid-template-columns: 327px;
  }
  .user-info {
    align-items: center;
    padding: 35px 0 35px 32px;
    gap: 20px;
  }
  .user-profile__photo {
    width: 64px;
    height: 64px;
  }
  .user-info-wrapper {
    --flow-space: 4px;
  }
  .user-info__name {
    font-size: 24px;
  }
  .timeframe {
    padding: 24px 21px 24px 36px;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    padding-top: 38px;
  }
  .card-content {
    padding: 28px 24px;
    gap: 7px;
  }
  .card-info-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .card-info__current {
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
