@use 'reset';
@use 'utils' as utils;
@use 'variables' as vars;

@include utils.setFont(Rubik, url('../fonts/Rubik-Light.ttf'), 300);
@include utils.setFont(Rubik, url('../fonts/Rubik-Regular.ttf'), 400);
@include utils.setFont(Rubik, url('../fonts/Rubik-Medium.ttf'), 500);

:root {
  font-family: Rubik, sans-serif;
}

// COMPOSITION
body {
  justify-content: center;
  align-items: center;
}

// UTILITIES
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.bg-primary {
  background-color: vars.$clr-black-50;
}

.bg-secondary {
  background-color: vars.$clr-lavender-50;
}

.bg-highlight {
  background-color: vars.$clr-lavender-200;
}

.clr-primary, .clr-active {
  color: vars.$clr-white-800;
}

.clr-secondary {
  color: vars.$clr-lavender-600;
}

.clr-inactive {
  color: vars.$clr-lavender-400;
}

.fnt-light {
  font-weight: 300;
}

.fnt-medium {
  font-weight: 500;
}

// BLOCK
.user-menu, .card, .card-content, .user-info {
  border-radius: vars.$bdr-radius-primary;
}

.user-menu {
  grid-row: span 2;
}

.user-profile__photo {
  border-radius: 50%;
  border: 3px solid #D8D8D8;
}

.user-info-wrapper {
  --flow-space: 3px;
}

.user-info__title {
  font-size: 15px;
}

.user-info__name {
  font-size: 40px;
}

.timeframe__select {
  display: none;
}

.timeframe__option {
  font-size: 18px;
}

.card {
  background-position: top -11px right 17px;
  background-repeat: no-repeat;
  padding-top: 45px;
}

.card-1 {
  background-color: vars.$clr-orange-400;
  background-image: url('../images/icon-work.svg');
}

.card-2 {
  background-position: top -5px right 21px;
  background-color: vars.$clr-blue-400;
  background-image: url('../images/icon-play.svg');
}

.card-3 {
  background-color: vars.$clr-red-400;
  background-image: url('../images/icon-study.svg');
}

.card-4 {
  background-position: top right 18px;
  background-color: vars.$clr-green-400;
  background-image: url('../images/icon-exercise.svg');
}

.card-5 {
  background-position: top -13px right 19px;
  background-color: vars.$clr-purple-400;
  background-image: url('../images/icon-social.svg');
}

.card-6 {
  background-position: top -11px right 16px;
  background-color: vars.$clr-yellow-400;
  background-image: url('../images/icon-self-care.svg');
}

.card-content {
  flex-direction: column;
  gap: 25px;
  padding: 29px 35px 32px 30px;
}

.card-category-wrapper {
  justify-content: space-between;
  align-items: center;
}

.card-category__name {
  font-size: 18px;
}

.card-info__current {
  font-size: 56px;
}

.card-info__previous {
  font-size: 15px;
}

// EXCEPTIONS
.transition {
  transition: all 0.2s ease-in-out;
}

.timeframe__option:hover,
.card-category__ellipsis:hover,
.card-content:hover {
  cursor: pointer;
  @extend .transition;
}

.timeframe__option:hover, .timeframe__select:checked + .timeframe__option {
  @extend .clr-active;
}

.card-category__ellipsis:hover svg path {
  fill: vars.$clr-white-800;
}

.card-content:hover {
  background-color: vars.$clr-lavender-100;
}

// DESKTOP VERSION
@media only screen and (width >= 1440px) {
  main {
    max-width: 1110px;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
  }

  .user-info {
    padding: 37px 0 85px 32px;
    flex-direction: column;
    gap: 43px;
  }

  .user-profile__photo {
    @include utils.setDimensions(78px, 78px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .timeframe {
    padding: 26px 0 0 32px;
    flex-direction: column;
    gap: 21px;
  }

  .card-info-wrapper {
    flex-direction: column;
    gap: 8px;
  }
}

// MOBILE VERSION
@media only screen and (width < 1440px) {
  main {
    margin: 81px 24px;
    gap: 24px;
    grid-template-columns: 327px;
  }

  .user-info {
    align-items: center;
    padding: 35px 0 35px 32px;
    gap: 20px;
  }

  .user-profile__photo {
    @include utils.setDimensions(64px, 64px);
  }

  .user-info-wrapper {
    --flow-space: 4px;
  }

  .user-info__name {
    font-size: 24px;
  }

  .timeframe {
    padding: 24px 21px 24px 36px;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    padding-top: 38px;
  }

  .card-content {
    padding: 28px 24px;
    gap: 7px;
  }

  .card-info-wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .card-info__current {
    font-size: 32px;
  }
}
