$clr-black-50: #0E1323;
$clr-lavender-50: #1C204B;
$clr-lavender-100: #33397A;
$clr-lavender-200: #5747EA;
$clr-lavender-400: #7078C9;
$clr-lavender-600: #BBC0FF;
$clr-orange-400: #FF8B64;
$clr-blue-400: #55C2E6;
$clr-red-400: #FF5E7D;
$clr-green-400: #4BCF82;
$clr-purple-400: #7335D2;
$clr-yellow-400: #F1C75B;
$clr-white-800: #FFFFFF;

$bdr-radius-primary: 15px;